---
layout: archive
title: "Publications"
description: "Publications by Patrick Konermann in asset pricing and financial economics: Review of Finance, Journal of Financial and Quantitative Analysis, and Review of Financial Economics."
permalink: /publications/
author_profile: true
hide_title: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% if post.category == "manuscripts" %}
    {% include archive-publication.html %}
  {% endif %}
{% endfor %}
