{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div>

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" width="400" height="400" fetchpriority="high" />
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" width="400" height="400" fetchpriority="high" />
    {% endif %}
  </div>

  <div class="author__content">
    <p class="author__name">{{ author.name }}</p>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      {% if author.employer %}
        <li class="author__desktop author__affil">{% include icon.html name="building-columns" %}<span>{% if author.bio %}<span>{{ author.bio }}</span>{% endif %}{% if author.department %}<span>{% if author.employer_url %}<a href="{{ author.employer_url }}">{{ author.department }}</a>{% else %}{{ author.department }}{% endif %}</span>{% endif %}<span>{{ author.employer }}</span></span></li>
      {% endif %}
      {% if author.location %}
        <li class="author__desktop">{% include icon.html name="location-dot" %}<span>{{ author.location }}</span></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}">{% include icon.html name="linkedin" %}LinkedIn</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}">{% include icon.html name="envelope" %}Email</a></li>
      {% endif %}
    </ul>
  </div>
</div>
